decorator==4.4.2
iniconfig==1.0.0
lxml==4.6.3
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.0.1
python-telegram-bot==13.0
requests==2.22.0
toml==0.10.1
tornado==6.3.3
